<ion-header>
  <ion-navbar>
      <ion-title>
        <img src="assets/imgs/logo_small.png" width="100">        
      </ion-title>
  </ion-navbar>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel="stylesheet" href="assets/css/menu.css">
  <link rel="stylesheet" href="assets/css/style.css">
</ion-header>


<ion-content class="au">
    <div id="mm-0" class="mm-page mm-slideout">
        <div id="page">
          <div class="container-fluid full-height">
            <div class="row row-height">
              <div class="col-lg-5 content-left">
  

                  <ion-list *ngFor="let type of appointment_types">
                      <ion-list-header >{{ type }}</ion-list-header>
                      <ion-item-sliding class="shaded-slider" *ngFor="let client of x[type]"> 
                        <ion-item>{{ client.name }}</ion-item>
                      </ion-item-sliding>
                    </ion-list>

                <div *ngFor="let info of doctorInfo;">
                      <div class="strip_list" (click)='viewProfile(info.doctor_id)'>
                        <figure>
                          <a>
                            <img src="{{info.photo_url}}" alt="">
                          </a>
                        </figure>
                        <small>{{info.job_position}}</small>
                        <h3>{{info.name}}</h3>
                        <p>{{info.about_me}}</p>
                      </div>
                </div>
                
                <p class="text-center add_top_30">
                  <a>
                    <strong>Cargar más...</strong>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</ion-content>