<div class="title">
  <h1>Términos y condiciones</h1>
</div>
<ion-row>
  <ion-col col class="w-100 mt-1 mb-3">
    He leído los términos y condiciones. A continuación tiene que generar una firma electrónica para saber
    que acepta lo
    anterior mencionado
    <ion-item>
      <ion-checkbox [(ngModel)]="accept"></ion-checkbox>
    </ion-item>
  </ion-col>
</ion-row>
<signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
<ion-grid>
  <ion-row>
    <ion-col col>
      <button ion-button full color="light" (click)="drawClear()">Limpiar</button>
    </ion-col>
    <ion-col col>
      <button ion-button full color="secondary" (click)="drawComplete()">Guardar</button>
    </ion-col>
  </ion-row>
</ion-grid>
